html, body {
  height: 100%;
}

.center {
  text-align: center;
}

.core-body {
  padding-top: 56px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.combatants-col {
  float: left;
}

.details-col {
  float: right;
}

.gutter {
  background-color: #330000;
  background-repeat: no-repeat;
  background-position: 50%;
}

#flex {
    display: flex;
    flex-direction: row;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

#one, #two {
  background-color: #e6f2ff;
}

.combatant-col {
  padding-left: 0px;
  padding-right: 0px;
}

#combatants-list {
  width: 100%;
  margin: 5px;
  padding: 0px;
}
li .combatant-list-item {
  background: white;
  position: relative;
  margin: 1em 0;
  padding: 1em;
  border: 2px solid black;
  list-style: none;
  padding-left: 42px;
}

li .handle {
  background: #f8f8f8;
  float: left;
  padding: 8px;
}

.ui-selecting {
  background: #eee;
}

.ui-selecting .handle {
  background: #ddd;
}

.ui-selected {
  background: #def;
}

.ui-selected .handle {
  background: #cde;
}
