<div class="center jumbotron">
  <h1>Welcome to Combat Master</h1>

  <h2>
    Combat Master is a web-based initiative tracker for Pathfinder.
  </h2>

  <h3>With Combat Master, you can track basic details about PC's and Monsters quickly and easily.</h3>
</div>
