<div class="combat-navbar navbar navbar-fixed-top navbar-light bg-light">
  <div class="btn-toolbar mr-2" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary btn-sm">Add</button>
      <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Add Many</a>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary btn-sm">Remove</button>
      <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Remove Many</a>
      </div>
    </div>
  </div>
</div>