<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <%= button_to "Next", next_combat_path, { method: :patch, class: "btn btn-outline-secondary" } %>
    <%= button_to "Previous", previous_combat_path, { method: :patch, class: "btn btn-outline-secondary" } %>
  </div>
  <div class="btn-group" role="group">
    <%= button_to "Roll Init", roll_combat_path, { method: :patch, class: "btn btn-outline-secondary" } %>
  </div>
</div>
