<%= form_with(model: combatant, local: true) do |form| %>
  <% if combatant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(combatant.errors.count, "error") %> prohibited this combatant from being saved:</h2>

      <ul>
      <% combatant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
