// Place all the styles related to the combatants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.combatant-list-item {
  background: white;
  position: relative;
  margin: 1em 1.25em 1em 1em;
  border: 2px solid black;
  list-style: none;
  display: flex; 
}

.combatant-active {
  background: yellowgreen;
}

.handle {
  background: #f8f8f8;
  float: left;
  height: 100%;
  margin-right: 1em;
}

.combatant-item {
  padding: 1em;
  align-items: center;
  width: 100%;
}

.init {
  padding: .6em;
}

.mod {
  font-size: .8em;
}