
/* Core HTML/Body Styling */
body {
  padding-top: 56px; /* should match full height of navbar to prevent overlap */
}
html, body {
  height: 100%;
}

.center {
  text-align: center;
}

.core-body {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}