<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <% if false %>

      <% else %>
        <ul class="nav navbar-nav navbar-left navbar-expand-lg">
          <li><%= link_to "New Combat", '#' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login/Signup", '#' %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
