<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <form class="navbar-form navbar-left form-inline">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <%= button_to "Next", next_combat_path, { method: :patch, class: "btn btn-outline-secondary" } %>
            <%= button_to "Previous", previous_combat_path, { method: :patch, class: "btn btn-outline-secondary" } %>
          </div>
          <div class="btn-group" role="group">
            <%= button_to "Roll Init", roll_combat_path, { method: :patch, class: "btn btn-outline-secondary" } %>
          </div>
        </div>
      </form>
      <%= render 'layouts/user_menu' %>
    </nav>
  </div>
</header>
